* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 17px;
	line-height: 1.6em;
}

a {
	text-decoration: none;
	color:#000;
}

/******  TOP HEADER  ******/

.main-header {
	padding: 10px 20px;
	height: 10vh;
	background-image: linear-gradient(rgba(99, 89, 158, 0.8),rgba(99, 89, 158, 0));
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
}

.main-header .logo {
	padding: 15px 20px;
	font-family: 'Bai Jamjuree','Raleway','Montserrat', sans-serif;
}

.navbar {
	flex-basis: 25%;
}

.nav-container {
	list-style-type: none;
	font-family: 'Bai Jamjuree','Raleway','Montserrat', sans-serif;
	display: flex;
	justify-content: space-between;
}

.nav-container a:hover {
	color: #fff;	
}

.nav-container li {
	padding: 15px 20px;
}

/******  SHOWCASE AREA  ******/

.showcase {
	background-image: url('https://doc-0k-6s-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/1i45bdqt8g76la96jm6t4p80iob0tkkc/1546005600000/13014571552619064925/*/1DP-fUeFZufjFAFp_jL1FZLPxW5he7e_K');
	height:100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
}

header .showcase h1 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.2em;
	margin-bottom: 10px;
}

header .showcase a {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	border: 2px solid #63599e;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 10px;
	transition: 0.3s;
}

header .showcase a:hover {
	background-color: #63599e;
	color: #fff;
}

.current {
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	border-radius: 4px;
}

.current a {
	color: #fff;
}


/***********    SERVICES    ***********/

.container {
	display: flex;
}
